# 00_파이썬기초 복습

### 1) range()를 사용하여, 1~100의 수 중, 7의 배수를 리스트 a에 담으시오.

In [41]:
for a in range(1,101):
    if a %7 ==.0:
        print(a)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [44]:
a = list(range(7,101,7))
print(a)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

### 2) a에서 인덱스 4~7까지 조회하시오.

In [47]:
a[4:8]

[35, 42, 49, 56]

### 3) a의 끝에서 세번째 값을 조회하시오.

In [48]:
a[-3]

84

### 4) a에 데이터 갯수(길이)를 구하시오.

SyntaxError: invalid syntax (3509003002.py, line 1)

### 5) a 값들의 합과 평균을 구하시오.

In [3]:
 print('a의 합: ' sum(a))

SyntaxError: invalid syntax (3368930454.py, line 1)

### 6) [심화] 반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아봅시다.
* 소수(prime number) : 1과 자기자신으로만 나누어 지는 수

In [1]:
prime_number = []

for i in range(2,101):
    devide = 0
    for j in range(1, i+1):
        if i % j == 0:   # 2 % 1 and 2 % 2 == 0
            devide += 1

    if devide == 2:
        prime_number.append(i)

print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## 제곱근을 사용한 풀이 방법

In [ ]:
import math

prime_number = []
for i in range(2, 101):
    devide = 0

### 7) [심화] 6번의 코드를 참조하여, 소수 추출기 함수를 만들어봅시다.
* 입력변수 : 정수 n
* 처리 : n 이하의 소수를 리스트에 저장
* 출력변수 : 소수 리스트
* [주의] 입력변수 n은 2이상의 정수여야 함.(입력값 체크 부분 포함)

### 8) 아래 값으로 딕셔너리 d를 생성해봅시다.

|key | value|
|----|----|
|v1 | [1,2,3]|
|v2 | {'a':23, 'b':[4,5]}|

In [13]:
d = {'v1':[1,2,3], 'v2':{'a':23, 'b':[4,5]}}
print(d)

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}}

### 9) d에서 [1,2,3]을 출력해봅시다.

In [24]:
print(d['v1'])

[1, 2, 3]

### 10) d에서 23을 출력해봅시다.

In [38]:
print(d.get(1))

None

### 11) d에서 5를 출력해봅시다.

### 12) d에 'newKey', value(1,2)를 추가하고 출력해봅시다.

In [35]:
d.setdefault('newkey', value(1,2))
print(d)

TypeError: update expected at most 1 argument, got 2

### 13) [심화] 반복문과 딕셔너리를 사용하여 주어진 단어에서 가장 많이 사용된 알파벳을 출력해봅시다.
* 주어진 단어 : "Big Data Analysis"
* 대문자, 소문자는 구분하지 않습니다.
* 가장 많이 사용된 알파벳을 2개 이상일 경우, 전부 출력해줍니다.