In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
tips = sns.load_dataset('tips')

In [4]:
# 파일 빈도 데이터 만들기
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [10]:
# 성별 일자별 교차 데이터 만들기
pd.crosstab(tips['sex'], tips['day'], margins= True)

day     Thur  Fri  Sat  Sun  All
sex
Male      30   10   59   58  157
Female    32    9   28   18   87
All       62   19   87   76  244