In [1]:
import pandas as pd

In [28]:
car_count = pd.read_csv('./지역별_전기차_대수_현황.csv', skipfooter=37)

C:\Users\admin\AppData\Local\Temp\ipykernel_16256\3145302736.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  car_count = pd.read_csv('./지역별_전기차_대수_현황.csv', skipfooter=37)

In [31]:
car_count = car_count[['대전','제주']]

In [34]:
car_count = car_count.T

In [39]:
car_count['총 충전소'] = [1332, 3930]

In [40]:
car_count

        0  총 충전소
대전   8595   1332
제주  26702   3930

In [41]:
car_count.columns = ['총 전기차', '총 충전소']

In [42]:
car_count

    총 전기차  총 충전소
대전   8595   1332
제주  26702   3930

In [44]:
car_count['전기차/충전소'] = car_count['총 전기차']/car_count['총 충전소']
car_count

    총 전기차  총 충전소   전기차/충전소
대전   8595   1332  6.452703
제주  26702   3930  6.794402

In [45]:
df_car = car_count.rename(index={'대전':0, '제주':1, })
df_car

   총 전기차  총 충전소   전기차/충전소
0   8595   1332  6.452703
1  26702   3930  6.794402

In [46]:
df_car['도시'] = ['대전', '제주']

In [47]:
df_car

   총 전기차  총 충전소   전기차/충전소  도시
0   8595   1332  6.452703  대전
1  26702   3930  6.794402  제주

In [49]:
df_car = df_car[['도시','총 전기차', '총 충전소', '전기차/충전소']]

In [51]:
df_car

   도시  총 전기차  총 충전소   전기차/충전소
0  대전   8595   1332  6.452703
1  제주  26702   3930  6.794402

대전과 제주의 총 전기차 충전소 수

In [4]:
df = pd.read_csv('./대전_제주 전기차 충전소.csv')

In [10]:
df['지역'].value_counts()

제주특별자치도    3930
대전광역시      1332
Name: 지역, dtype: int64

In [36]:
data = [1332, 3930]

In [50]:
df_car.to_csv('대전_제주 충전소 비율.csv', index=False)