In [1]:
import pandas as pd

### 나만의 데이터 만들기

- 시리즈 만들기

    - Series() 메소드에 리스트를 전달하여 시리즈 생성

In [2]:
s = pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

    - 인덱스는 보통 0부터 시작하는 정수형태이지만 문자열로 사용가능
    - index 인자에 문자열을 리스트로 담아서 전달

In [4]:
s = pd.Series(['Wes McKinney','Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

### 시리즈 다루기 - 기초
- 데이터 프레임 만들기

    - DataFrame() 메소드에 딕셔너리를 전달하여 데이터프레임 생성

In [6]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age': [37,61]})

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [8]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age': [37,61]},
    index= ['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died'])

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

- 데이터프레임에서 시리즈 선택하기

In [12]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age': [37,61]},
    index= ['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

first_row = scientists.loc['William Gosset']
print(first_row)

first_irow = scientists.iloc[1]
print(first_irow)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

- index 속성 사용하기

In [14]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

- values 속성 사용하기

In [15]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

- keys() 메소드 사용하기 (== index 속성)

In [16]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

- 기본 통계 메소드 사용하기

    - scientists 데이터 프레임의 Age 열 추출

In [18]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

    - mean(), min(), max(), std()

In [21]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

### 시리즈다루기 - 응용
- 평균 나이보다 나이가 많은 사람 데이터 구하기

    - 최대값, 평균 메소드로 값 확인

In [30]:
scientists = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/scientists.csv')
ages = scientists['Age']
print(ages.max(), ages.mean())

90 59.125

    - Boolean Array 추출

In [31]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

    - 리스트 형태로 참이나 거짓을 담아 시리즈에 전달하면 해당 데이터만 추출

In [32]:
manual_bool_values = [False, True, True, True, False, False, False, True]
print(ages[manual_bool_values])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

    - Boolean Array추출 후 시리즈로 전달

In [34]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

- 브로드캐스팅 (Broadcasting)

      - 시리즈와 같이 여러 개의 값을 가진 데이터(벡터)와 단순 크기를 나타내는 데이터(스칼라)간의 연산을 지원하는 것

In [35]:
print( ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [36]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

- 길이가 서로 다른 벡터를 연산하는 경우 -> 같은 인덱스의 값만 계산

In [37]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

- sort_index([ascending=False])

    - 인덱스 정렬

In [40]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)
print(ages*2)
print(ages + rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

- Boolean Array

    - 데이터프레임의 Age 열의 평균보다 높은 데이터 출력

In [41]:
scientists = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/scientists.csv')
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

    - 2,6번 인덱스를 제외한 데이터 출력

In [49]:
print(scientists[(True, True, True, False, False, False, True)])

KeyError: (True, True, True, False, False, False, True)

In [51]:
ages[scientists['Occupation'] == 'Chemist']

0    37
3    66
Name: Age, dtype: int64

- 브로드캐스팅 (Broadcasting)

    - 시리즈와 같이 모든 요소를 대상으로 연산
    - 2를 곱하면 숫자는 2를 곱하고 문자열은 2배로 늘어남

In [43]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

### 시리즈와 데이터프레임의 데이터 처리하기
- 열의 자료형 바꾸기

    - scientists 데이테프레임의 Born과 Died 열의 자료형 확인

In [46]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

# 판다스에서 문자열은 오브젝트로 취급

object
object

    - 'Born'열의 날짜 형식 문자열을 datetime 자료형으로 변경

In [59]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

    - datetime으로 바뀐 2개의 자료를 새로운 열로 추가

In [60]:
scientists['Born_dt'], scientists['Died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt    Born_dt    Died_dt
0 1958-04-16 1920-07-25 1958-04-16
1 1937-10-16 1876-06-13 1937-10-16
2 1910-08-13 1820-05-12 1910-08-13
3 1934-07-04 1867-11-07 1934-07-04
4 1964-04-14 1907-05-27 1964-04-14

In [61]:
scientists.loc[:, ['Name','Born_dt','Died_dt','Age','Occupation']]

                   Name    Born_dt    Died_dt  Age          Occupation
0     Rosaline Franklin 1920-07-25 1958-04-16   37             Chemist
1        William Gosset 1876-06-13 1937-10-16   61        Statistician
2  Florence Nightingale 1820-05-12 1910-08-13   90               Nurse
3           Marie Curie 1867-11-07 1934-07-04   66             Chemist
4         Rachel Carson 1907-05-27 1964-04-14   56           Biologist
5             John Snow 1813-03-15 1858-06-16   45           Physician
6           Alan Turing 1912-06-23 1954-06-07   41  Computer Scientist
7          Johann Gauss 1777-04-30 1855-02-23   77       Mathematician

    - 과학자 삶의 시간 계산하기 (died_dt-born_dt)

In [62]:
scientists['age_days_dt'] = scientists['Died_dt'] - scientists['Born_dt']
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt    Born_dt    Died_dt age_days_dt
0 1920-07-25 1958-04-16 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23 1777-04-30 1855-02-23  28422 days

- 데이터 삭제하기 - drop(['인덱스' 또는 '열 이름'][, axis=n])

    - 인덱스(행) 삭제

In [63]:
scientists.drop(0).head(2)

,Name,Born,Died,Age,Occupation,born_dt,died_dt,Born_dt,Died_dt,age_days_dt
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,1820-05-12,1910-08-13,32964 days

    - 여러 개의 인덱스(행) 삭제

In [70]:
scientists.drop([0,3]).head(5)

,Name,Born,Died,Age,Occupation,born_dt,died_dt,Born_dt,Died_dt,age_days_dt
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,1820-05-12,1910-08-13,32964 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23,1954-06-07,1912-06-23,1954-06-07,15324 days

    - 열삭제

In [75]:
scientists.drop('Age', axis=1).head(2)

,Name,Born,Died,Occupation,born_dt,died_dt,Born_dt,Died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,Chemist,1920-07-25,1958-04-16,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,Statistician,1876-06-13,1937-10-16,1876-06-13,1937-10-16,22404 days

    - 여러 개의 열 삭제

In [84]:
#    - 2,6번 인덱스를 제외한 데이터 출력
# 여러개의 인덱스 행과 열 삭제하기