### 열과 피벗
- 넓은 데이터

    - 데이테프레임의 열이 옆으로 길게 늘어선 형태

    ex) 열 자체가 어떤 값을 의미하는 경우

    -  열의 데이터를 행으로 정리 : melt()

In [1]:
import pandas as pd
pew = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/pew.csv')
print(pew)

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  \
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

    $50-75k  $75-100k  $100-150k  >150k  Don't know/refused
0       137       122        109     84                  96
1        70        73         59     74                  76
2        58        62         39     53                  54
3      1116       949        792    633                1489
4        35        21         17     18                 116
5      1486       949        723    414                1529
6        34        47         48     54                  37
7       223       131         81     78                 339
8        30        15         11      6                  37
9        95        69         87    151                 162
10     1107       939        753    634                1328
11      112        85         49     42                  69
12       23        16          8      6                  22
13       47        38         42     46                  73
14       14        18         14     12                  18
15       63        46         40     41                  71
16        7         3          4      4                   8
17      528       407        321    258                 597

In [2]:
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long[:20])

# id_vars에 지정된 열 -> 제외
# 나머지 소득정보 열 이름 -> variable
# 소득정보 열의 행 데이터 -> value

                   religion variable  value
0                  Agnostic    <$10k     27
1                   Atheist    <$10k     12
2                  Buddhist    <$10k     27
3                  Catholic    <$10k    418
4        Don’t know/refused    <$10k     15
5          Evangelical Prot    <$10k    575
6                     Hindu    <$10k      1
7   Historically Black Prot    <$10k    228
8         Jehovah's Witness    <$10k     20
9                    Jewish    <$10k     19
10            Mainline Prot    <$10k    289
11                   Mormon    <$10k     29
12                   Muslim    <$10k      6
13                 Orthodox    <$10k     13
14          Other Christian    <$10k      9
15             Other Faiths    <$10k     20
16    Other World Religions    <$10k      5
17             Unaffiliated    <$10k    217
18                 Agnostic  $10-20k     34
19                  Atheist  $10-20k     27

In [3]:
pew_long = pd.melt(
    pew, id_vars='religion',
    var_name='income', value_name='count')
print(pew_long[:10])

# var_name : variable -> income
# value_name : value -> count

                  religion income  count
0                 Agnostic  <$10k     27
1                  Atheist  <$10k     12
2                 Buddhist  <$10k     27
3                 Catholic  <$10k    418
4       Don’t know/refused  <$10k     15
5         Evangelical Prot  <$10k    575
6                    Hindu  <$10k      1
7  Historically Black Prot  <$10k    228
8        Jehovah's Witness  <$10k     20
9                   Jewish  <$10k     19

    - 빌보드 차트 데이터 피벗 (2개 이상의 열 고정 / 나머지 행 변환)

In [2]:
billboard = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/billboard.csv')
print(billboard.shape)
print(billboard.columns)

(317, 81)
Index(['year', 'artist', 'track', 'time', 'date.entered', 'wk1', 'wk2', 'wk3',
       'wk4', 'wk5', 'wk6', 'wk7', 'wk8', 'wk9', 'wk10', 'wk11', 'wk12',
       'wk13', 'wk14', 'wk15', 'wk16', 'wk17', 'wk18', 'wk19', 'wk20', 'wk21',
       'wk22', 'wk23', 'wk24', 'wk25', 'wk26', 'wk27', 'wk28', 'wk29', 'wk30',
       'wk31', 'wk32', 'wk33', 'wk34', 'wk35', 'wk36', 'wk37', 'wk38', 'wk39',
       'wk40', 'wk41', 'wk42', 'wk43', 'wk44', 'wk45', 'wk46', 'wk47', 'wk48',
       'wk49', 'wk50', 'wk51', 'wk52', 'wk53', 'wk54', 'wk55', 'wk56', 'wk57',
       'wk58', 'wk59', 'wk60', 'wk61', 'wk62', 'wk63', 'wk64', 'wk65', 'wk66',
       'wk67', 'wk68', 'wk69', 'wk70', 'wk71', 'wk72', 'wk73', 'wk74', 'wk75',
       'wk76'],
      dtype='object')

In [3]:
billboard.iloc[0:5,0:7]

   year        artist                    track  time date.entered  wk1   wk2
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

In [4]:
billboard_long = pd.melt(
    billboard,
    id_vars=['year','artist','track','time','date.entered'],
    var_name='week', value_name='rating')

print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

- 하나의 열이 여러 의미를 가지는 경우

    - split()과 concat()으로 데어터 정리
    - 에볼라 바이러스 감염 및 사망자 수

In [5]:
ebola = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/country_timeseries.csv')
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [6]:
print(ebola.iloc[:5, [0,1,2,3,10,11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

    - Date, Day 열 고정 / 나머지 열 피벗

In [7]:
ebola_long = pd.melt(ebola, id_vars=['Date','Day'])
print(ebola_long)

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
...          ...  ...           ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

    - 'variable' 열의 데이터를 _ 기준으로 분리

In [8]:
variable_split = ebola_long.variable.str.split('_')
print(variable_split[:5])

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

    - 분리된 데이터 확인

In [9]:
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

print(status_values[:5])
print(country_values[:5])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

1. 분리된 데이터를 'ebola_long' 데이터프레임에 추가

In [14]:
ebola_long['status'] = status_values
ebola_long['country'] = country_values
print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

2. 분리된 데이터를 concat()으로 합치기

In [15]:
variable_split = ebola_long.variable.str.split('_', expand=True)
variable_split.columns = ['Status', 'country']
ebola_persed = pd.concat([ebola_long, variable_split], axis=1)

print(ebola_persed.head())

         Date  Day      variable   value status country Status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

In [16]:
ebola = ebola_persed.loc[:,['Date','Day','Status','country','value']]

- 기상 데이터의 여러 열을 하나로 정리하기

    - 기상 데이터 크기 및 열 이름 확인하기

In [18]:
weather = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/weather.csv')
print(weather.shape)
print(weather.columns)
print(weather.iloc[:5, :11])

(22, 35)
Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')
        id  year  month element  d1    d2    d3  d4    d5  d6  d7
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN

    - melt() 사용 (열 데이터를 행 데이터로)

In [21]:
weather_melt = pd.melt(weather,
id_vars=['id', 'year', 'month', 'element'],
var_name='day', value_name='temp')
weather_melt[100:110]

          id  year  month element day  temp
100  MX17004  2010      7    tmax  d5   NaN
101  MX17004  2010      7    tmin  d5   NaN
102  MX17004  2010      8    tmax  d5  29.6
103  MX17004  2010      8    tmin  d5  15.8
104  MX17004  2010     10    tmax  d5  27.0
105  MX17004  2010     10    tmin  d5  14.0
106  MX17004  2010     11    tmax  d5  26.3
107  MX17004  2010     11    tmin  d5   7.9
108  MX17004  2010     12    tmax  d5   NaN
109  MX17004  2010     12    tmin  d5   NaN

    - pivot_table() 사용 (행 데이터를 열 데이터로)

In [22]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element', values='temp')
print(weather_tidy.head(10))

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2

    - 인덱스 초기화

In [23]:
weather_tidy_flat = weather_tidy.reset_index()
weather_tidy_flat.head()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4

- 빌보드 차트 데이터의 중복 데이터 처리하기 (정규화)

    - 빌보드 차트 데이터 가져오기

In [24]:
billboard = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/billboard.csv')
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    - 빌보드 차트 데이터 피벗

In [25]:
billboard_long = pd.melt(
    billboard,
    id_vars=['year','artist','track','time','date.entered'],
    var_name='week', value_name='rating')

print(billboard_long.shape)
billboard_long.head(10)

(24092, 7)

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,wk1,51.0
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,wk1,97.0
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,wk1,84.0
8,2000,Aaliyah,Try Again,4:03,2000-03-18,wk1,59.0
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,wk1,76.0

    - 노래 제목으로 중복 데이터 현황 확인

In [26]:
billboard_long[billboard_long.track == 'Loser'].head()

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

    - 'year', 'artist', 'track', 'time' 중복 데이터를 새로운 데이터프레임으로 저장

In [27]:
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']]
print(billboard_songs.shape)

(24092, 4)

    - 중복 데이터 제거(drop_duplicates())

In [28]:
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

    - 순번(id) 추가

In [29]:
billboard_songs['id'] = range(len(billboard_songs))
billboard_songs.head(10)

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

    - 노래 정보와 주간 순위 데이터 합치기

In [30]:
billboard_ratings = billboard_long.merge(
    billboard_songs, on=['year', 'artist', 'track', 'time'])

print(billboard_ratings.shape)
billboard_ratings.head()

(24092, 8)

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

- 뉴욕 택시데이터 가져오기

    - 택시 데이터 5개 다운로드 (500MB 이상)

In [35]:
import os
import urllib.request

with open('C:/Study/Study_Python2/Pandas 실습/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break
        fn = url.split('/')[-1].strip()  # 파일명만 추출
        fp = os.path.join('', 'data', fn) # data 폴더 저장 경로 지정
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

data\fhv_tripdata_2015-01.csv

HTTPError: HTTP Error 404: Not Found

택시 데이터 안되서 concat파일로 실습

    - 다운로드 파일 목록

In [36]:
import glob

concat_list = glob.glob('C:/Study/Study_Python2/Pandas 실습/concat*')
concat_list

['C:/Study/Study_Python2/Pandas 실습\\concat_1.csv',
 'C:/Study/Study_Python2/Pandas 실습\\concat_2.csv',
 'C:/Study/Study_Python2/Pandas 실습\\concat_3.csv']

    - 각각의 파일을 데이터프레임으로 저장

In [38]:
concat1 = pd.read_csv(concat_list[0])
concat2 = pd.read_csv(concat_list[1])
concat3 = pd.read_csv(concat_list[2])

In [39]:
concat1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [ ]:
#concat = pd.DataFrame()
#for i in range(len(concat_list)):
#    df = pd.read_csv(concat_list[i])
#    concat = pd.