In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Study/Study_Python2/Pandas 실습/부산기온데이터.csv', encoding='cp949', skiprows=7)

In [4]:
df.head

<bound method NDFrame.head of                날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1904-04-09  159     11.3      7.8     16.1
1      1904-04-10  159      9.3      4.7     15.2
2      1904-04-11  159     10.6      NaN     14.9
3      1904-04-12  159     11.3      8.8     13.4
4      1904-04-13  159     14.5     11.1     16.9
...           ...  ...      ...      ...      ...
43149  2022-05-29  159     22.6     19.2     26.6
43150  2022-05-30  159     20.7     17.2     23.9
43151  2022-05-31  159     21.6     18.4     27.4
43152  2022-06-01  159     22.2     18.5     27.5
43153  2022-06-02  159     20.7     18.0     24.5

[43154 rows x 5 columns]>

- 가장 더웠던 날

In [5]:
df[df['최고기온(℃)']==df['최고기온(℃)'].max()]

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
41035  2016-08-14  159     31.7     28.3     37.3

- 일교차가 가장 큰 날

In [6]:
df['일교차'] = df['최고기온(℃)']- df['최저기온(℃)']
df[df['일교차']== df['일교차'].max()]

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)   일교차
28729  1982-12-05  159      3.9     -3.3     15.2  18.5